body{
    background: white;
    color: black;
    
}

:root{
    --fcolor:#000000f1;
    --hcolor:#0000008e;
    --tcolor:rgba(255, 255, 255, 0.856);
    --bcolor:#654B7E;
    --td: underline 3px;
    --btncol:#A8A4C9;
    --btnhcol: #a8a4c97c;
}
.navbar-brand{
cursor: pointer;
    
}

.navbar-nav > li{
    padding-left:5px;
    padding-right:5px;
    font-weight: bold;
    font-size: 18px; 
  }

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(231,157,211, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: #d9a5cbd5;
  } 

.navbar {
    height: 60px;
    min-height: 100px;   
}

.navbar{
    border-bottom: #d9a5cb9c 2px solid;   
}

header a{
    color: rgb(245, 245, 245);
}

header a:hover{
    color: var(--hcolor);
}

ul.navbar-nav > li > a {
    line-height: 60px;
}

img.logo {
    padding-top: 0px;
    width: 100px;
    height: auto;
}

#resume button, .modal-footer button{
    background-color: var(--btncol);
    font-weight: bold;
    cursor: pointer; 
    border-radius: 35px;
    padding: 15px 30px;
    border: none;
    transition: all 0.3s ease 0s;  
    color: var(--fcolor);
    margin-top: 10px;
}

.fas {
    padding-right: 10px;
}

#resume button:hover{
    background-color: var(--btnhcol);
}


#home-section{
    background: url(../Assets/images/background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#home-section  .home-inner {
    padding-top: 100px; 
    text-align: center;  
   }

.home-inner h1{
    color: white;
    text-align: center;
}   

 #home-section .dark-overlay{ 
    top: 0; 
    left:0;
    width: 100%; 
    min-height: 700px; 
    background: rgba(0, 0, 0,0.4) ;
}   

.about-container{
    margin-right:70px;
    margin-left: 70px;
    min-height: 350px;}

.about-container p{
        color: black;
        font-weight: 400;
    }   

.about-container .display-4{
    font-weight: 400 ;
    text-decoration: var(--td);
} 

.img-fluid{
    width: 500px;
    padding-left: 40px;
    height: 400px;
}

#projects-section{
    background-color: var(--bcolor);
    min-height: 350px;       
}

#projects-section H1 .projects  {
    margin:70px;
    }   

.projects-container p{
    color: black;
    font-weight: 400;  
}   

.projects-container .display-4{
    font-weight: 400 ;
    color: white;
    margin-right:70px;
    margin-left: 70px;
    padding-top: 40px;
    text-decoration: var(--td);
} 

.projects{
    padding: 0px 30px 60px 30px;
}   

.cardContainer {
    margin-top: 20px;
    text-align: center;
   
  }

.card{
    margin: auto; 
    background-color: rgba(255, 255, 255, 0.863);
      
}

.card img{
    height: 400px;
}

.card a{
    background-color: #A8A4C9;
    font-weight: bold;
    cursor: pointer; 
    border-radius: 20px;
    padding: 15px 40px;
    border: none;
    transition: all 0.3s ease 0s;  
    color: var(--fcolor);
    margin-top: 10px;

}

.card a:hover{
    background-color: var(--btnhcol);
}

#skills-section{
    min-height: 550px;
}
#skills-container {
    margin-right:70px;
    margin-left: 70px;
    margin-top: 50px;
    }

#skills-container .display-4{
font-weight: 400 ;
text-decoration: var(--td);
margin-bottom: 20px;

}     

.list-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right:350px;
    margin-left: 350px;
 
    
}
.list-group-item{
    background-color:#483451;
    border: none;
    margin-bottom: auto;
    margin-top: 10px;
    color: var(--tcolor);
    border-radius: 5px;
    font-weight: bold;
}

.badge{
    color: var(--tcolor);
    font-size: 16px;
    border-radius: 50px;
    border: #485c3b 3px solid;
    background-color: #647e4bd7;
}

#main-footer{
    background-color: var(--bcolor);
    color: var(--tcolor);
    margin-top: 50px;
    min-height: 200px;
}

#main-footer button{
    background-color: var(--btncol);
    font-weight: bold;
    cursor: pointer; 
    border-radius: 15px;
    padding: 15px 25px;
    border: none;
    transition: all 0.3s ease 0s;  
    color: var(--fcolor);
    margin-top: 10px;

}

#main-footer button:hover{
    background-color: var(--btnhcol);
}
